.sect1 {
    height:93.5vh;
    color: #fff;
    background-size: 100vw 100vh;
}
h1{
    font-size: 3vw;
    padding-bottom: 1vw;
}
.container{
    position: absolute;
    top:24%;
    left: 14.5%;
}
.description{
    font-family: Arial;
    line-height: 35px;
    font-family: Amiri;
    position: absolute;
    letter-spacing: 5px;
    display: flex;
    width: 470px;
    font-size: 1.4vw;
}
